language = "python3"
run = "rm -rf oub-remix && git clone https://github.com/denomparkour/oub-remix && cd oub-remix && pip install telethon && pip install --upgrade pip && python3 GenerateStringSession.py && rm -rf pornhub && pip install speedtest-cli && speedtest-cli"
